In [221]:
import pandas as pd
import numpy as np

In [222]:
import requests

# Web scrapping

In [223]:
data = pd.read_html('https://en.wikipedia.org/wiki/MonsterVerse')

In [224]:
table = data[3]

# Cleaning up table

In [225]:
table.head()

       Character  ...             Films
       Character  ... Godzilla vs. Kong
        Monsters  ...          Monsters
0       Godzilla  ...               CGI
1           MUTO  ...   Archive footage
2      King Kong  ...   Eric PeteyS[57]
3  King Ghidorah  ...   Archive footage
4          Rodan  ...   Archive footage

[5 rows x 5 columns]

In [226]:
## change the columns names
new_columns = []
for i in table.columns:
  new_columns.append(i[1])

table.columns = new_columns

In [227]:
#alter the index names and then drop the column
table.index = table[table.columns[0]]
table = table.drop(columns = table.columns[0])

In [228]:
#drop the row with duplicate value humans
table= table[table.index != table[table.columns[(1)]].values]

# Saving the file

In [232]:
table.to_csv('cleaned dataframe',sep = '\t')