In [2]:
import numpy as np
import pandas as pd
from google.colab import files

# Question 1

In [3]:
files.upload()

Saving problem_set_1_data.csv to problem_set_1_data.csv

{'problem_set_1_data.csv': b'\xef\xbb\xbfquizzes,attendedClass,finalgrade,final_EXAM,student\r\n78.5,1,99.38,46,Linnie\xc2\xa0Lietz\r\n64.25,0,95.78,45,Mitch\xc2\xa0Mustain\r\n76.75,0,97.42,41,Salina\xc2\xa0Chavera\r\n69,1,92.5,38,Kimberely\xc2\xa0Conwell\r\n64,0,92.5,39,Zack\xc2\xa0Burk\r\n63,1,89.38,36,Almeda\xc2\xa0Rizer\r\n73.5,0,95.94,43,Damien\xc2\xa0Ellett\r\n70.5,0,95,40,Lora\xc2\xa0Sobieski\r\n78,0,96.36,42,Kieth\xc2\xa0Treanor\r\n61.25,0,88.28,37,Laverne\xc2\xa0Krok\r\n69,0,92.73,45,Ernestine\xc2\xa0Juan\r\n59,0,78.75,33,Jackelyn\xc2\xa0Baro\r\n65,0,94.84,41,Tiny\xc2\xa0Recore\r\n61.5,0,85.63,37,Ngan\xc2\xa0Hiler\r\n73,0,93.13,43,Albertha\xc2\xa0Ouk\r\n71,1,90.63,40,Mercy\xc2\xa0Dugal\r\n77,1,101.25,46,Augustine\xc2\xa0Clair\r\n75.5,0,90.94,41,Krystyna\xc2\xa0Barrentine\r\n65.5,0,92,38,Jamie\xc2\xa0Mcdowell\r\n79.5,0,96.06,37,Karole\xc2\xa0Mcgraw\r\n62.5,0,85.94,34,Dorla\xc2\xa0Canaday\r\n76.5,0,96.36,44,Fidela\xc2\xa0Leonetti\r\n57.5,0,85.31,40,Orval\xc2\xa0Ortis\r\n64,0,85,38,Delma\xc2\xa0Roseman\r\n72.75,0,96.09,43,Sena\xc2\xa0Mcclenton\r\n75.5,0,98.13,47,Annalee\xc2\xa0Deaton\r\n0,0,2.5,0,Shellie\xc2\xa0Bowlby\r\n75,1,101.25,45,Codi\xc2\xa0Whitcher\r\n66,0,92.19,41,Gretta\xc2\xa0Kunzman\r\n74,0,92.5,37,Jaimee\xc2\xa0Carl\r\n59,0,65,37,Tad\xc2\xa0Barrow\r\n72.5,0,94.85,45,Dorothy\xc2\xa0Rago\r\n72,1,94.69,38,Nan\xc2\xa0Castro\r\n72.5,0,96.25,43,Gidget\xc2\xa0Ingerson\r\n64,0,90,40,Georgette\xc2\xa0Ortega\r\n73,0,92.12,38,Diego\xc2\xa0Vautour\r\n73,1,87.81,33,Fern\xc2\xa0Iadarola\r\n69,0,95,41,Izetta\xc2\xa0Maloy\r\n74.5,1,98.13,43,Delilah\xc2\xa0Starr\r\n75.5,0,95.63,41,Marlin\xc2\xa0Abrahamson\r\n63,0,80.63,31,Joline\xc2\xa0Mccreight\r\n77,1,100,43,Maisie\xc2\xa0Monti\r\n78,0,98.75,44,Bettyann\xc2\xa0Watford\r\n74,1,99.06,46,Shenna\xc2\xa0Tregre\r\n68,1,89.38,35,Owen\xc2\xa0Meagher\r\n70.5,0,87.81,32,Moshe\xc2\xa0Dulmage\r\n70,1,91.25,38,Carolyne\xc2\xa0Soltis\r\n78.5,0,104.38,49,Carlene\xc2\xa0Zemlicka\r\n65,0,84.69,33,Noemi\xc2\xa0Stolz\r\n53.5,0,86.88,38,Contessa\xc2\xa0Ruffin\r\n51.5,0,74.69,34,Rebbeca\xc2\xa0Gheen\r\n75,0,96.56,39,Sherley\xc2\xa0Kahl\r\n70,0,90,40,Jana\xc2\xa0Satterlee\r\n77,0,97.5,46,Branden\xc2\xa0Vanfossen\r\n56,0,71.72,20,Doretha\xc2\xa0Ulibarri\r\n63.5,0,89.06,40,Lizzette\xc2\xa0Derryberry\r\n72.5,0,95,42,Shanda\xc2\xa0Doi\r\n65,0,89.38,35,Winfred\xc2\xa0Haug\r\n67.5,0,87.81,37,Towanda\xc2\xa0Mutchler\r\n77,0,96.36,39,Ollie\xc2\xa0Freeney\r\n74,1,90.94,36,Dulcie\xc2\xa0Furtado\r\n71,0,96.25,43,Laine\xc2\xa0Dowling\r\n63,0,80,36,Yon\xc2\xa0Rosati\r\n75.5,1,93.13,38,Liberty\xc2\xa0Elzey\r\n70.5,0,91.56,41,Lenard\xc2\xa0Soares\r\n77.5,0,101.88,46,Tyrone\xc2\xa0Kirsch\r\n73.5,0,94.69,43,Earnestine\xc2\xa0Reese\r\n65.5,0,88.79,40,Delphine\xc2\xa0Rourke\r\n74,0,92.19,40,Ward\xc2\xa0Piccolo\r\n68.5,0,90.94,39,Neil\xc2\xa0Acosta\r\n72,0,88.13,34,Jasper\xc2\xa0Claudio\r\n66,0,88.13,39,Latia\xc2\xa0Slagle\r\n75.75,0,96.82,41,Viva\xc2\xa0Mctaggart\r\n65,0,89.38,41,Clayton\xc2\xa0Carvalho\r\n66,0,88.44,36,Elia\xc2\xa0Lamprecht\r\n68,0,90.31,40,Tammie\xc2\xa0Rochester\r\n69.5,0,87.81,31,Concetta\xc2\xa0Yanez\r\n79,0,93.13,32,Dori\xc2\xa0Geier\r\n73,1,94.38,42,Min\xc2\xa0Peake\r\n64.75,0,87.34,38,Twyla\xc2\xa0Schuh\r\n77,0,97.19,43,Faith\xc2\xa0Poulson\r\n70.5,0,89.69,38,Stefania\xc2\xa0Barnette\r\n70.5,0,95.31,41,Delicia\xc2\xa0Tay\r\n75.5,1,101.25,46,Tamica\xc2\xa0Wann\r\n74.5,1,94.69,39,Danette\xc2\xa0Prisco\r\n59,0,86.25,36,Juana\xc2\xa0Kerby\r\n66.5,0,90,38,Cassandra\xc2\xa0Bacchus\r\n75.5,0,97.81,44,Babette\xc2\xa0Kaina\r\n75.5,0,95.63,45,Rey\xc2\xa0Paterson\r\n77,0,98.75,44,Kimbery\xc2\xa0Almaguer\r\n79,0,102.19,46,Ingeborg\xc2\xa0Ruyle\r\n66,0,78.18,34,Alica\xc2\xa0Cavallo\r\n78,0,95.63,42,Lakia\xc2\xa0Kaestner\r\n76,0,96.36,41,Hanna\xc2\xa0Morell\r\n72.5,0,91.25,35,Marguerite\xc2\xa0Edelen\r\n68.75,0,89.84,32,Nelda\xc2\xa0Auzenne\r\n73,0,97.5,44,Jeneva\xc2\xa0Shores\r\n56.5,0,94.14,45,Colton\xc2\xa0Say\r\n65,0,77.58,31,Lizeth\xc2\xa0Drone\r\n72,0,91.25,40,Jerrica\xc2\xa0Heal\r\n66,0,94.38,37,Olene\xc2\xa0Polanco\r\n77.5,0,98.13,44,Mario\xc2\xa0Heckstall\r\n59,0,83.64,37,Karlyn\xc2\xa0Feldstein\r\n78.5,1,100.31,47,Nicolasa\xc2\xa0Benn\r\n75,0,97.5,46,Clark\xc2\xa0Gribble\r\n69.75,0,94.22,43,Socorro\xc2\xa0Greenblatt\r\n56.5,0,89.06,44,Gisele\xc2\xa0Rierson\r\n48,0,84.52,40,Isreal\xc2\xa0Ocegueda\r\n61.25,0,86.09,34,Valarie\xc2\xa0Saba\r\n63,1,89.38,38,Kathryn\xc2\xa0Dickens\r\n72.5,0,97.81,44,Elfriede\xc2\xa0Gothard\r\n57.5,0,83.44,34,Elisa\xc2\xa0Breen\r\n74,0,93.13,37,Kasie\xc2\xa0Grasser\r\n64,1,93.75,43,Annabelle\xc2\xa0Brierly\r\n72.5,0,93.75,41,Palma\xc2\xa0Tewell\r\n76.75,0,99.53,45,Joann\xc2\xa0Gersten\r\n66.75,0,93.91,44,Stephany\xc2\xa0Decaro\r\n76.25,1,98.91,44,Dalila\xc2\xa0Sonntag\r\n51,0,86.72,45,Allegra\xc2\xa0Armer\r\n72,0,92.19,36,Denae\xc2\xa0Mcculley\r\n77,0,98.75,41,Venus\xc2\xa0Shank\r\n54,1,101.07,47,Laila\xc2\xa0Daddario\r\n69.5,0,90,35,Adalberto\xc2\xa0Berube\r\n66.5,0,82.12,28,Denice\xc2\xa0Hage\r\n74,0,97.81,45,Genevieve\xc2\xa0Woodfin\r\n43.5,0,69.69,29,Emily\xc2\xa0Rhymer\r\n72,0,90.3,40,Nona\xc2\xa0Stelly\r\n76.5,0,100.94,45,Denis\xc2\xa0Willcox\r\n73.5,0,93.28,36,Shane\xc2\xa0Conniff\r\n72.25,0,90.16,39,Omega\xc2\xa0Staab\r\n67.5,0,95.94,43,Sade\xc2\xa0Byham\r\n70,0,93.75,40,Rana\xc2\xa0Tatro\r\n69.75,1,85.47,33,Clemente\xc2\xa0Griner\r\n46.5,0,84.29,36,Rosalind\xc2\xa0Paulk\r\n77,0,97.58,45,Camelia\xc2\xa0Clingerman\r\n76,0,98.18,43,Karry\xc2\xa0Wadley\r\n77,0,103.13,48,Brandie\xc2\xa0Short\r\n71.5,0,87.58,35,Barbar\xc2\xa0Ohanlon\r\n73.5,1,96.25,40,Claudette\xc2\xa0Ownby\r\n75.5,0,95.94,43,Arlette\xc2\xa0Hornbaker\r\n72.5,0,90,35,Vincent\xc2\xa0Staub\r\n71.25,0,95.91,45,Paul\xc2\xa0Ohare\r\n77,1,97.5,40,Don\xc2\xa0Connell\r\n71.75,0,91.72,36,Azucena\xc2\xa0Mccue\r\n75.5,0,95,44,Pansy\xc2\xa0Waite\r\n79,0,102.19,47,Evelyne\xc2\xa0Tittle\r\n72,0,92.81,38,Jaraham Eidda\r\n72,0,89.39,38,Desiree\xc2\xa0Snellgrove\r\n65.5,1,86.25,38,Laurie\xc2\xa0Braziel\r\n56.5,0,93.1,41,Mireille\xc2\xa0Kimball\r\n78,1,96.25,38,Shavonda\xc2\xa0Oesterling\r\n77,1,93.75,40,Cristi\xc2\xa0Chae\r\n69,0,95,42,Brock\xc2\xa0Crocket\r\n68.5,0,90,36,Clorinda\xc2\xa0Lundblad\r\n76,0,99.38,45,Eneida\xc2\xa0Chesser\r\n78,1,99.38,42,Latarsha\xc2\xa0Madore\r\n71,0,95.31,41,Margarite\xc2\xa0Kaczmarek\r\n43.5,0,86.55,39,Dortha\xc2\xa0Hollomon\r\n60.5,0,91.56,41,Isobel\xc2\xa0Hobart\r\n77.5,1,100,45,Carlyn\xc2\xa0Matson\r\n47,0,88.15,33,Estella\xc2\xa0Gaumer\r\n69.5,0,95.31,44,Phillip\xc2\xa0Barnett\r\n73.5,1,95.63,39,Les\xc2\xa0Shehorn\r\n72.5,1,94.38,39,Demarcus\xc2\xa0Kenney\r\n79,0,102.5,46,Elwanda\xc2\xa0Meidinger\r\n72,0,90.94,35,Lakisha\xc2\xa0Colucci\r\n73.5,0,96.25,45,Dana\xc2\xa0Malta\r\n75.5,0,98.13,44,Sixta\xc2\xa0Heyden\r\n41,0,69.38,32,Brianne\xc2\xa0Broome\r\n77,0,101.25,47,Elouise\xc2\xa0Weatherholt\r\n72,0,92.81,38,Addie\xc2\xa0Maharaj'}

In [4]:
data = pd.read_csv('problem_set_1_data.csv')

In [5]:
#Rename the columns to be “quiz_total”, “attended”, “final_grade”, “final_exam”, and “name”
data = data.rename(columns ={"quizzes":"quiz_total","attendedClass":'attended','finalgrade':"final_grade",'final_EXAM':'final_exam',"student":"name"})

In [6]:
#Print a “head” and “tail” of the dataframe and a summary of the dataframe. 
print(data.head())

   quiz_total  attended  final_grade  final_exam               name
0       78.50         1        99.38          46       Linnie Lietz
1       64.25         0        95.78          45      Mitch Mustain
2       76.75         0        97.42          41     Salina Chavera
3       69.00         1        92.50          38  Kimberely Conwell
4       64.00         0        92.50          39          Zack Burk

In [7]:
# print a tail of the dataframe
print(data.tail())

     quiz_total  attended  final_grade  final_exam                 name
166        73.5         0        96.25          45           Dana Malta
167        75.5         0        98.13          44         Sixta Heyden
168        41.0         0        69.38          32       Brianne Broome
169        77.0         0       101.25          47  Elouise Weatherholt
170        72.0         0        92.81          38        Addie Maharaj

In [8]:
#print a summary of the dataframe
print(data.describe())

       quiz_total    attended  final_grade  final_exam
count  171.000000  171.000000   171.000000  171.000000
mean    69.131579    0.192982    91.855380   39.672515
std      9.488473    0.395798     9.487795    5.511304
min      0.000000    0.000000     2.500000    0.000000
25%     65.500000    0.000000    89.380000   37.000000
50%     72.000000    0.000000    93.130000   40.000000
75%     75.500000    0.000000    96.360000   44.000000
max     79.500000    1.000000   104.380000   49.000000



*   The average of quiz_total means the average score of the total quizzes of the students in the dataframe.
*   The average of attended is the percentage of students who attended the class.
*   The average of final_grade is the mean point of their final grade recieved.
*   The average of fina_exam is the average of points that the students got in the final exam.

# Question 2

In [9]:
#a.Subset the data by whether someone attended class

In [10]:
data.head()

   quiz_total  attended  final_grade  final_exam               name
0       78.50         1        99.38          46       Linnie Lietz
1       64.25         0        95.78          45      Mitch Mustain
2       76.75         0        97.42          41     Salina Chavera
3       69.00         1        92.50          38  Kimberely Conwell
4       64.00         0        92.50          39          Zack Burk

In [11]:
attend = data[data["attended"]==1]
not_attend = data[data['attended']==0]

In [12]:
#b.What is the average “quiz_total”, “final_grade”, “final_exam” for those who attended class versus did not attend?

print(attend.mean())

quiz_total     72.500000
attended        1.000000
final_grade    95.072121
final_exam     40.636364
dtype: float64

In [13]:
print(not_attend.mean())

quiz_total     68.326087
attended        0.000000
final_grade    91.086159
final_exam     39.442029
dtype: float64

The average quiz score of the students who sttended class is 72.5 versus about 68.33 for those who do not attend class.

The average final exam for those who attended class is 95 and the students who did not attend was 91. 

The average final exam score for those who attended class is 40 .63 and those who did not attend is 39.4.

Students who attended to class score higher in average than those who did not.

# Bonus

In [33]:
#Find the students working together
data[data.duplicated(subset=['quiz_total','final_exam','final_grade'],keep=False)]

     quiz_total  attended  final_grade  final_exam           name
146        72.0         0        92.81          38  Jaraham Eidda
170        72.0         0        92.81          38  Addie Maharaj

In [88]:
name  = data.loc[[146,170],['name']]

In [92]:
print(name)

              name
146  Jaraham Eidda
170  Addie Maharaj